div {
    margin: 0.25rem;
}

h1 {
    text-align: center;
    margin: 0;
}

p,h4{
    margin: 0.25rem;
}

.js-issues__title {
    margin: 0;
}

.js-issues__header,
.js-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js-issues__item {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0.25rem;
    padding: 0.25rem;
}


a {
    border: 1px solid black;
    text-decoration: none;
}

.js-issues__label{
    border-radius: 5px;
    margin-right: 0.25rem;
    padding: 0.25rem;
    background-color: lightblue;

}

/* PAGINATION */

.js-pagination {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.js-pagination__btn {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    text-decoration: none;
    transition: background-color .3s;
    border: none;
    border-radius: 5px;
}


.js-pagination__btn:hover {
    background-color: rgb(230, 213, 223);
}

.active{
    background-color: yellow;
}
